/*
*	Styling overide 3
*/
/* @font-face {
    font-family: 'EconomicaRegular';
    src: url('Economica-Regular-OTF-webfont.eot');
    src: url('Economica-Regular-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('Economica-Regular-OTF-webfont.woff') format('woff'),
         url('Economica-Regular-OTF-webfont.ttf') format('truetype'),
         url('Economica-Regular-OTF-webfont.svg#EconomicaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'EconomicaBold';
    src: url('Economica-Bold-OTF-webfont.eot');
    src: url('Economica-Bold-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('Economica-Bold-OTF-webfont.woff') format('woff'),
         url('Economica-Bold-OTF-webfont.ttf') format('truetype'),
         url('Economica-Bold-OTF-webfont.svg#EconomicaBold') format('svg');
    font-weight: normal;
    font-style: normal;

} */

header {
		height: 85px;
		background: url(../images/app_icon.png) #d6d6d6 no-repeat;
		color: #666666;
		border-bottom: 5px solid #666666;
		z-index: 800;
}
	
header .fm_title_bar{
	font-size:30px;
	font-family: "Arial", Helvaltica, Arial, sans-serif;;
	text-transform:uppercase;
	font-weight: lighter;
	text-align: left;
	margin-left: 90px;
	margin-top: 15px;	
}

header .fm_subtitle{
	font-size:18px;
	text-transform: none;
	margin-top: 0px;
	font-weight: normal;
}

footer {
	background-color: #666666;
	font-family: "Arial", Helvaltica, Arial, sans-serif;;
	font-size: 18px;
	z-index: 900;
	
	-webkit-box-shadow: 0px 0px 10px -2px #d6d6d6;
	-moz-box-shadow: 0px 0px 10px -2px #d6d6d6;
	box-shadow: 0px 0px 10px -2px #d6d6d6;
}

.fm_overlay{
	background-color: rgba(255,255,255,.8);
	z-index: 1000;

	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;

	-webkit-box-shadow: 0 0 0 5px rgba(102,102,102,.8);
	-moz-box-shadow: 0 0 0 5px rgba(102,102,102,.8);
	box-shadow: 0 0 0 5px rgba(102,102,102,.8);
	*box-shadow: 0 0 0 5px rgba(102,102,102,.8);
}

/* anything but phone */
@media all and (min-width: 768px){
	
	
	.fm_left_content, .fm_center_content, .fm_right_content {
		top: 10px;
	}
	
	nav {
		top: 20px;
		height: 40px;
		background: none;
		z-index: 900;
		
		-webkit-box-shadow: 0px 0px 0px 0px black;
		-moz-box-shadow: 0px 0px 0px 0px black;
		box-shadow: 0px 0px 0px 0px black;
	}
	
	.fm_button:hover{
		color: black;
		background: none;
	}
	
	.fm_button_active { 
		background: none; 
	}
	
	.fm_button .fm_icon, .fm_button:hover .fm_icon{
		top:0px;
		width: 40px;
		height: 40px;
		display: inline-block;
		background-size: 40px 40px;
	}

}

/* tab */
@media all and (max-width: 1024px){
	header .fm_subtitle{
		max-width: 400px;
	}
}

/* phone */
@media all and (max-width: 767px){
	header {
		height: 70px;
		background:url(fm_mobile_icons/mapicon.png) #d6d6d6 no-repeat;
		color: #666666;
		border-bottom: 5px solid #666666;
		z-index: 800;
	}
	header .fm_title_bar {
		font-size:24px;
		font-family: "Arial", Helvaltica, Arial, sans-serif;;
		text-transform:uppercase;
		font-weight: lighter;
		text-align: left;
		margin-left: 65px;
		margin-top: 10px;	
	}
	header .fm_subtitle {
		font-size:16px;
		text-transform: none;
		margin-top: 0px;
		font-weight: normal;
	}
	nav {
		background-color: #666666;
		
		-webkit-box-shadow: 0px 0px 10px -2px #d6d6d6;
		-moz-box-shadow: 0px 0px 10px -2px #d6d6d6;
		box-shadow: 0px 0px 10px -2px #d6d6d6;
	}
	
	nav .fm_nav {
		min-width: 250px;
	}
	
	.fm_button_active { 
		background-color: #ffffff;
	}
	
	.fm_left_content, .fm_center_content, .fm_right_content {
		top: 40px;
	}
}  